*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;

}/* header*/
.hdr{
	background-color: rgb(58, 163, 154);
	display: flex;
}/*logo*/
#logo{
	border-radius: 52%;
	width: 5%;
	height: 7%;
	margin-left: 2%;
	outline: none;
}/* my skills heading*/
h3 {
	font-size: 20px;
	display: inline-flex;
	margin-top: 25px;
	margin-left: 10px;
	color: white;
	font-family: bold Arial, Helvetica, sans-serif;
	background-color: rgb(58, 163, 154);
}
.a{
	margin: 10px;
	text-decoration: none;
	margin-top: 30px;
}
.a:hover{
	color: red;

}
#home{
	margin-left: 60%;
}
.container{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.column {
	float: left;
	width: 80%;
	margin-top: 6px;
	padding: 20px;
}
  /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
  }
#pen_paper{
    width: 45%;
    height: 40%;
}
input[type=text], [type=password], select{
	width: 680px;
	padding: 15px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
#code{
    width: 80px;
}
#ph_no{
    width: 600px;
}
p{
    font-size: medium;
    text-align: center;
}
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	outline: none;
	opacity: 0.9;
	transition: 0.3s;
  }
  input[type=submit]:hover{
	opacity: 1.4;
	box-shadow: 0 4px dimgray;

  }
input[type=submit]:active{
	box-shadow: 0 2px dimgrey;
	transform: translateY(4px);
}
/*footer heading*/
h1{
	color: white;
	font-size: medium;
	text-align: center;
	background-color: rgb(58, 163, 154);
}footer{
	background-color: rgb(58, 163, 154);
	margin-bottom:0px;

}